.block{
    position: absolute;
    width: 265px;
height: 727px;
top: 126px;
left: 20px;
border-radius: 20px;
background-color: aliceblue;

}


.blocks{
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
    column-gap:normal;
}
.block1{
    width: 219.5px;
height: 54px;
top: 137px;
left: 41.5px;

}
body{
    background-color: crimson;
}


.block200{
    width: 88.49995422363281px;
height: 18px;
display: flex;
flex-direction: row-reverse;
row-gap: 200px;

}
.block5{
    width: 54px;
height: 18px;
font-family: Helvetica;
font-weight: 400;
font-size: 12px;
line-height: 18px;
letter-spacing: 0%;
color: rgba(160, 174, 192, 1);


}
.block6{
    width: 15px;
    height: 15px;
}


.block2{
    width: 120px;
height: 18px;
font-family: Helvetica;
font-weight: 400;
font-size: 12px;
line-height: 18px;
letter-spacing: 0%;
color: rgba(45, 55, 72, 1);



}
.block3{
    float:left;
    width: 30px;
height: 30px;
background-color: black;



}
.block1{
    display: flex;
    flex-direction: row-reverse;
    row-gap:200px;
    width: 219.5px;
    height: 54px;


}
.block300{
    display: flex;
    flex-direction: row-reverse;
    row-gap: 200px;
    width: 159.5px;
    height: 18px;
}
.block8{
    width: 125px;
    height: 18px;
    font-family: Helvetica;}




    
body{
    background-color: blue;
}

.blocks{
    position:absolute;
    display: flex;
    flex-direction: column;
    column-gap: normal;
    position:sticky;
    align-items: flex-start;
    justify-content: flex-start;
    width: 572px;
height: 436px;
top: 126px;
left: 1316px;
border-radius: 20px;
background-color: aliceblue;
}

    
.block1{
    
    width: 72.5px;
    height: 25px;
    top: 154px;
    left: 1338.5px;
    color: rgba(45, 55, 72, 1);


}
.block2{
    
    width: 110.5px;
height: 35px;
top: 1490px;
left: auto;
border-radius: 8px;
border-width: 1px;
padding-right: 8px;
padding-left: 8px;

}
.block4{
   
    width: 98px;
height: 20px;
top: 206.5px;
left: 1340px;
font-family: Helvetica;
font-weight: 400;
font-size: 14px;
line-height: 19.6px;
letter-spacing: 0%;
color: rgba(45, 55, 72, 1);



}
.block7{
 
    width: 69px;
height: 18px;
top: 230.5px;
left: 1340px;
font-family: Helvetica;
font-weight: 400;
font-size: 12px;
line-height: 18px;
letter-spacing: 0%;
color: rgba(160, 174, 192, 1);



}
.block5{
  
    width: 81px;
height: 18px;
top: 217px;
left: 1785.5px;

}
.block8{
  
    width: 124px;
height: 20px;
top: 273px;
left: 1340px;
font-family: Helvetica;
font-weight: 400;
font-size: 14px;
line-height: 19.6px;
letter-spacing: 0%;
color: rgba(45, 55, 72, 1);

}
.block9{
    
    width: 67px;
height: 18px;
top: 297px;
left: 1340px;
font-family: Helvetica;
font-weight: 400;
font-size: 12px;
line-height: 18px;
letter-spacing: 0%;
color: rgba(160, 174, 192, 1);

}
.block400{
    display: flex;
    flex-direction: row-reverse;
    row-gap: 200px;
    width: 58.5px;
    height: 18px;
}
.block11{
    width: 24px;
    height: 18px;
    font-family: Helvetica;
font-weight: 400;
font-size: 12px;
line-height: 18px;
letter-spacing: 0%;
color: rgba(160, 174, 192, 1);

}
.block13{
    width: 141px;
    height: 18px;
    font-family: Helvetica;
.block10{
   
    width: 81px;
height: 18px;
top: 283.5px;
left: 1785.5px;

}
.block12{
   
    width: 115px;
height: 20px;
top: 339.5px;
left: 1340px;
font-family: Helvetica;
font-weight: 400;
font-size: 14px;
line-height: 19.6px;
letter-spacing: 0%;
color: rgba(45, 55, 72, 1);

}
.block13{
    
    width: 67px;
height: 18px;
top: 363.5px;
left: 1340px;
font-family: Helvetica;
font-weight: 400;
font-size: 12px;
line-height: 18px;
letter-spacing: 0%;
color: rgba(45, 55, 72, 1);

}
.block500{
    display: flex;
    flex-direction: row-reverse;
    row-gap: 200px;
    width: 90.5px;
    height: 18px;
}
.block15{
    width: 56px;
    height: 18px;
    font-family: Helvetica;
color: rgba(160, 174, 192, 1);


}
.block14{
    
    width: 81px;
height: 18px;
top: 350px;
left: 1785.5px;

}
.block16{

width: 101px;
height: 20px;
top: 406px;
left: 1340px;
font-family: Helvetica;
font-weight: 400;
font-size: 14px;
line-height: 19.6px;
letter-spacing: 0%;
color: rgba(45, 55, 72, 1);



}
.block17{
   
    width: 71.5px;
height: 18px;
top: 430px;
left: 1340px;
font-family: Helvetica;
font-weight: 400;
font-size: 12px;
line-height: 18px;
letter-spacing: 0%;
color: rgba(160, 174, 192, 1);

}
.block600{
    display: flex;
    flex-direction: row-reverse;
    row-gap: 200px;
    width: 71.5px;
    height: 18px;
}
.block18{
    width: 37px;
    height: 18px;
    font-family: Helvetica;
font-weight: 400;
font-size: 12px;
line-height: 18px;
letter-spacing: 0%;
color: rgba(160, 174, 192, 1);

}
.block700{
    display: flex;
    flex-direction: row-reverse;
    row-gap: 200px;
    width: 159.9px;
    height: 18px;
}
.block21{
    width: 125px;
    height: 18px;
    font-family: Helvetica;

}
.block18{
   
    width: 81px;
height: 18px;
top: 416.5px;
left: 1785.5px;

}
.block20{
   
    width: 104px;
height: 19.5px;
top: 472.5px;
left: 1340px;
font-family: Helvetica;
font-weight: 400;
font-size: 14px;
line-height: 19.6px;
letter-spacing: 0%;
color: rgba(45, 55, 72, 1);



}
.block21{
  
    width: 68.5px;
height: 18px;
top: 496.5px;
left: 1340px;
font-family: Helvetica;
font-weight: 400;
font-size: 12px;
line-height: 18px;
letter-spacing: 0%;
color: rgba(160, 174, 192, 1);

}
.block24{
    width: 114px;
    height: 20px;
    color: rgba(45, 55, 72, 1);

}


}
.block22{
   
    width: 81px;
height: 18px;
top: 483px;
left: 1785.5px;
}
